<section class="min-vh-100">
  <div class="text-center container">
    <h1 class="py-1 head fw-bold">PORTFOLIO COMPONENT</h1>
    <div class="d-flex align-items-center justify-content-center">
      <div class="line"></div>
      <i class="fa-solid fa-star p-3 fs-3"></i>
      <div class="line"></div>
    </div>
  </div> 
  <div class="row px-5 g-5 mb-3">
    <div *ngFor="let image of images" class="col-md-4" (click)="toggleShow(image.src)">
      <div class="layr">
        <div  class="layer rounded-3 d-flex align-items-center justify-content-center" (click)="$event">
          <i class="fa-solid fa-plus fw-bold text-white"></i>
        </div>
<div>
  <img #imgsrc [src]="image.src" alt="" class="w-100 rounded-3">
</div>
      </div>
    </div>
  </div>
</section>

<div #lyra class="lry d-flex justify-content-center align-items-center" [ngClass]="{'d-none': !isShown}" (click)="toggleHide()" *ngIf="isHide">
  <div class="img">
    <img [src]="imageSelected" alt="" class="w-100">
  </div>
</div>
